<form action="/users/register" method="post" class="register">
    <div class="container">
        <div class="heading">
            <i class="fas fa-user-plus"></i>
            <span class="text">Register</span>
        </div>

        <%- include('./partials/Message') %>

        <div class="form-control">
            <label for="username">Username</label>
            <input 
                type="text" 
                name="username" 
                id="username"
                value="<%= typeof username != 'undefined' ? username : '' %>"
            />
            <i class="fas fa-eye"></i>
        </div>
        <div class="form-control">
            <label for="email">Email</label>
            <input 
                type="email" 
                name="email" 
                id="email"
                value="<%= typeof email != 'undefined' ? email : '' %>"
            />
        </div>
        <div class="form-control">
            <label for="password">Password</label>
            <input 
                type="password" 
                name="password" 
                id="password"
                value="<%= typeof password != 'undefined' ? password : '' %>"
            />
        </div>
        <div class="form-control">
            <label for="confirm password">Confirm Password</label>
            <input 
                type="password" 
                name="confirmPassword" 
                id="confirm-password"
                value="<%= typeof confirmPassword != 'undefined' ? confirmPassword : '' %>"
            />
        </div>
    
        <button type="submit">Register</button>
    </div>

</form>